* {
    margin: 0;
    padding: 0;
    font-family: "Times New Roman", serif;
}

/* navigation-bar */
nav {
    position: fixed;
    width: 100vw;
    height: 70px;
    background: rgb(62, 123, 149);
    display: flex;
    align-items: center;
}

nav ul {
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav ul li {
    display: inline;
}

#search {
    width: 30vw;
    position: relative;
    height: 40px;
    border-radius: 150px;
    outline: none;
    border: 1px solid rgb(115, 111, 111);
    padding: 0 15px;
}

.search {
    position: relative;
}

.search button {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    background: transparent;
    border-radius: 5px;
}

select {
    width: 20vw;
    height: 40px;
    border-radius: 4px;
}

.message,
.bell {
    margin-top: 10px;
    color: white;
    font-size: 30px;
}

#log {
    padding: 4px 20px;
    background-color: rgb(15, 226, 15);
    color: white;
    font-weight: 700;
    border: none;
    border-radius: 15px;
}

#sell {
    padding: 4px 20px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-size: 15px;
    font-weight: 700;
    border-width: 5px;
    border-style: solid;
    border-color: #23e5db #f50a03 #ffce32 #3a77ff;
    border-radius: 20px;
}

/* data-fetch */
#container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.box {
    margin: 10px;
    border: 1px solid black;
    border-radius: 5px;
    font-weight: 700;
    color: blue;
    overflow: hidden;
    height: 400px;
    width: 400px;
}

.box-img {
    width: 100%;
    height: 60%;
}

/* load-more */
.load-more button {
    display: flex;
    margin: 50px auto;
    padding: 8px 16px;
    background-color: white;
    font-size: 16px;
    border: 2px solid black;
    border-radius: 6px;
}

.load-more button:hover {
    transform: scale(1.1);
}

/* footer */
.download_app {
    background-color: #f7f8f9;
}

.download {
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.images {
    width: 400px;
}

.text {
    border-right: 2px solid #cacdce;
}

.text h1 {
    padding: 20px 20px 10px 20px;
    font-size: 35px;
}

.text p {
    padding: 10px 20px 20px 20px;
    font-size: 20px;
}

.download-section{
    width: 100%;
    background-color: #f0efee;
}

.download_store p {
    font-weight: bold;
    font-size: 17px;
}

.download_store {
    display: flex;
    flex-direction: column;
    padding-left: 30px;
}

.download_store img {
    margin-bottom: 10px;
    width: 150px;
    padding-left: 5px;
}

.main_footer {
    background-color: #cdcfd0;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: auto;
}

.footer_box h2 {
    font-size: 17px;
    margin: 10px 0 15px 0;
    cursor: pointer;
}

.footer_box p {
    margin: 8px 0 8px 0;
}
/* --------------------------------------- */
.card{
    height: 200px;
    width: 200px;
    background-color: yellow;
  }
  #outer{
    min-height: 100vh;
    width: 100vw;
    
    justify-content: center;
    align-items: center;
    display:none;
  }
  .new{
    display: flex;
    flex-wrap: wrap;
  }
  .maincard{
    height: 400px !important;
    width: 400px !important;
    background-color: orangered;
    margin: 5px 10px;
    
    
  }
  .subcard{
    height: 60%;
    width: 100%;
    background-color: rgb(0, 255, 229);
  
  }
  .maincard p{
    padding: 0px 10px;
  }