* {
    margin: 0;
    padding: 0;
    font-family: "Times New Roman", serif;
}

/* navigation-bar */
nav {
    position: fixed;
    width: 100%;
    height: 55px;
    background: #12292f;
    display: flex;
    align-items: center;
}

nav ul {
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav ul li {
    display: inline;
}
.logo{
    font-size: 28px;
    font-weight: 500;
    text-shadow: 3px 3px 4px #5ef3f1e6;
    font-family: cursive;
    color: white !important;
}

#search {
    width: 30vw;
    position: relative;
    height: 40px;
    border-radius: 150px;
    outline: none;
    border: 1px solid rgb(115, 111, 111);
    padding: 0 15px;
}

.search {
    position: relative;
}

.search button {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    background: transparent;
    border-radius: 5px;
}

select {
    width: 20vw;
    height: 40px;
    border-radius: 4px;
}

.message,
.bell {
    margin-top: 10px;
    color: white;
    font-size: 30px;
}

#log {
    padding: 5px 22px;
    background-color: #0160f4;
    color: white;
    font-weight: 700;
    border: none;
    border-radius: 25px 25px;
}

#log:hover {
    box-shadow: 0px 0px 8px #f42501;
}

#log a {
    text-decoration: none;
    font-family: cursive;
    color: white;
}

#sell {
    padding: 4px 20px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-size: 15px;
    font-weight: 700;
    border-width: 5px;
    border-style: solid;
    border-color: #23e5db #f50a03 #ffce32 #3a77ff;
    border-radius: 20px;
}

#sell:hover {
    box-shadow: 0px 0px 5px rgb(8, 228, 8);
}

/* data-fetch */
#container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 12px;
}

#banner {
    height: 100px;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 70px;
}

.box, .maincard{
    margin: 10px;
    border: 1px solid rgb(75, 74, 74);
    border-radius: 8px;
    font-weight: 700;
    overflow: hidden;
    height: 320px;
    width: 270px;
    background-color: rgb(238, 231, 229);
    border-bottom: 3px solid rgb(0, 128, 255);
}

.box-img {
    width: 100%;
    height: 65%;
    border-radius: 5px;
    border-bottom: 2px solid rgb(35, 33, 33);
}

.details {
    margin-bottom: 1px;
    padding: 0 10px;
}

/* load-more */
.load-more button {
    display: flex;
    margin: 50px auto;
    padding: 8px 16px;
    background-color: white;
    font-size: 16px;
    border: 2px solid black;
    border-radius: 6px;
}

.load-more button:hover {
    transform: scale(1.1);
}

/* footer */
.download_app {
    background-color: #f7f8f9;
}

.download {
    display: flex;
    align-items: center;
    justify-content: center;
}

.images {
    width: 400px;
}

.text {
    border-right: 2px solid #cacdce;
}

.text h1 {
    padding: 20px 20px 10px 20px;
    font-size: 35px;
}

.text p {
    padding: 10px 20px 20px 20px;
    font-size: 20px;
}

.download-section {
    width: 100%;
    background-color: #f0efee;
    margin-top: 20px;
}

.download_store p {
    font-weight: bold;
    font-size: 17px;
}

.download_store {
    display: flex;
    flex-direction: column;
    padding-left: 30px;
}

.download_store img {
    margin-bottom: 10px;
    width: 150px;
    padding-left: 5px;
}

.main_footer {
    background-color: #cdcfd0;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin: auto;
}

.footer_box h2 {
    font-size: 17px;
    margin: 10px 0 15px 0;
    cursor: pointer;
}

.footer_box p {
    margin: 8px 0 8px 0;
}

/* --------------------------------------- */
.card {
    height: 200px;
    width: 200px;
    background-color: yellow;
}

#outer {
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    display: none;
}

.new {
    display: flex;
    flex-wrap: wrap;
}

.subcard {
    height: 65%;
    width: 100%;
    background-color: rgba(6, 210, 242, 0.82);
    border-radius: 8px;
}

.maincard p {
    padding: 0px 10px;
    margin-bottom: 1px !important;
}

.formdata {
    margin: auto;
    background-color: rgb(255, 255, 255);
    width: 40vw;
    border: 1px solid rgb(111, 108, 108);
    display: flex;
    z-index: 15;
    border-radius: 10px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;


}

#name,
#price,
.productt,
#modelYear,
#phoneNum,
#category {
    font-weight: 400;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 70%;
    height: 6vh;
    border-radius: 10px;
    margin-left: 10px;
    border: 1px solid rgb(136, 133, 133);
    font-size: 18px;
}

#name:hover,
#price:hover,
.productt:hover,
#modelYear:hover,
#phoneNum:hover,
#category:hover {
    box-shadow: 0 0 5px rgb(0, 166, 255);
}

#txt {
    margin-left: 10px;
    width: 70%;
    height: 20vh;
    font-size: 18px;
}

#sub {
    width: 50%;
    height: 8vh;
    border-radius: 50px;
    margin: 30px 0;
    background-color: rgb(0, 170, 255);
    box-shadow: 2px 2px 8px rgb(26, 30, 33);
    border: none;
    color: white;
    font-size: 20px;
    font-family: sans-serif;
}

#sub:hover {
    background-color: rgb(7, 145, 214);
    transition: 0.2s;
    box-shadow: 2px 2px 8px rgb(26, 30, 33);
}

.outerform {
    width: 100vw;
    height: 102vh;
    top: 0;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.922);
    display: none;
    position: fixed;
}

#cross {
    position: absolute;
    right: 45px;
    top: 14px;
    background: transparent;
    border: none;
}

#name,
#namespan {
    margin-top: 5vh;
}

#cutt {
    height: 50px;
    width: 50px;
    color: grey;
}

#cutt:hover {
    transition: 0.5s;
    scale: 1.1;
    cursor: pointer;
}

span {
    color: red;
    margin-left: -10px;
    margin-top: 5px;
}